<% include ../partials/header %>

<section class="reportCrime">

    <h2>Report ID: <%=report._id%></h2>
    
    <div class="formdiv">
      <form class="newForm" action="/reports" method="POST">
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Identity</h3>
            <p>We verify your identity to prevent you from having false claims  made on your behalf or against you. As an aside, we actually only store your name and email address. The other data is present just to see how much you're willing to tell us. </p>
          </div>
          <div class="formDataArea">
            <div class="formInputDiv">
              <label for="firstName">First Name</label>
              <input  type="text" name="firstName" required readonly id='firstName' value="<%= report.first %>">
            </div>
            <div class="formInputDiv">
                <label for="middleInitial">Middle Initial</label>
                <input  type="text" name="middleInitial" id='middleInitial' value="<%= report.middle %>" readonly>
              </div>
            <div class="formInputDiv">
              <label for="lastName">Last Name</label>
              <input  type="text" name="lastName" id="lastname" value="<%= report.last %>" readonly required>
            </div>
            <div class="formInputDiv">
              <label for="dob">Date of Birth</label>
              <input type="text"  name="dob" id="dob" min="1900-01-01" max="2018-12-12" value="<%=moment(report.dob).format('YYYY-DD-MM')%>" readonly required>
            </div>
            <div class="formInputDiv">
              <label for="ssn">Social Security Number</label>
              <input type="text"  name="ssn" id="ssn" value="<%= report.ssn %>" required readonly>
            </div>
          </div>
        </div>
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Contact</h3>
            <p>In the event that we need to follow up, please specify your contact information</p>
          </div>
          <div class="formDataArea">
            <div class="formInputDiv">
              <label for="primaryPhone">Primary Phone Number (US only)</label>
              <input  type="tel" name="primaryPhone" id='primaryPhone' value="<%= report.primaryPhone %>" required readonly>
            </div>
            <div class="formInputDiv">
                <label for="secondaryPhone">Secondary Phone Number (US only)</label>
                <input  type="tel" name="secondaryPhone" id='secondaryPhone' value="<%= report.secondaryPhone %>" readonly>
              </div>
            <div class="formInputDiv">
              <label for="email">Primary Email Address</label>
              <input  type="email" name="email" id="email" value="<%= report.email %>" readonly required>
            </div>
            <div class="formInputDiv">
              <label for="mailingAddress">Mailing Address</label>
              <input type="text"  name="mailingAddress" id="mailingAddress" value="<%= report.mailingAddress %>" readonly required>
            </div>
            <div class="formInputDiv">
              <label for="mailingCity">City</label>
              <input type="text"  name="mailingCity" id="mailingZip" value="<%=report.mailingCity%>" readonly required>
            </div>
            <div class="formInputDiv">
              <label for="mailingState">State</label>
              <input  name="mailingState" id="mailingState" value="<%=report.mailingState%>" readonly required>
            </div>
            <div class="formInputDiv">
              <label for="mailingZip">Zip Code</label>
              <input type="number"  name="mailingZip" id="mailingZip" value="<%=report.mailingZip%>" readonly required>
            </div>
          </div>
        </div>
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Crime Details</h3>
            <p>Explain the nature of the crime and any and all details.</p>
          </div>
          <div class="formDataArea gridTemplateTwoRow">
            <div class="formInputDiv">
              <label for="incidentType">Type of Incident</label>
              <input id="incidentType" name="incidentType"   value="<%=report.incidentType%>" readonly required>
            </div>
            <div class="formInputDiv">
                <label for="incidentDate">Date of Incident</label>
                <input  type="text" name="incidentDate" id='incidentDate' min="1900-01-01" max="2018-12-12" value="<%=moment(report.incidentDate).format('YYYY-DD-MM')%>" readonly required>
              </div>
            <div class="formInputDiv">
              <label for="incidentLocation">Location of Incident </label>
              <input  type="text" name="incidentLocation" id="incidentLocation" value="<%= report.incidentLocation %>" readonly required>
            </div>
            <div class="formInputDiv gridArea2124">
              <label for="incidentDetails">Details and Description of the Incident</label>
              <textarea  required name="incidentDetails" id="incidentDetails" readonly><%= report.incidentDetails %></textarea>
            </div>
          </div>
        </div>

        <div class="formBtns">
          <div class="secondaryBtn">
            <a href="/reports">Go Back</a>
          </div>
        </div>
      </form>
    </div>

    <div class="reportFollowUp">
      
    </div>
    
    </section>

<% include ../partials/footer %>