<% include ../partials/header %>

<section class="reportCrime">

    <h2>Report ID: <%=report._id%></h2>
    
    <div class="formdiv">
      <form class="newReportForm" action="/reports" method="POST">
        <hr>
        <div class="reportSection">
          <div class="reportSectionName">
            <h3>Identity</h3>
            <p>We verify your identity to prevent you from having false claims  made on your behalf or against you.</p>
          </div>
          <div class="reportDataArea">
            <div class="reportInputDiv">
              <label for="firstName">First Name</label>
              <input class="reportInput" type="text" name="firstName" required readonly id='firstName' value="<%= report.first %>">
            </div>
            <div class="reportInputDiv">
                <label for="middleInitial">Middle Initial</label>
                <input class="reportInput" type="text" name="middleInitial" id='middleInitial' value="<%= report.middle %>" readonly>
              </div>
            <div class="reportInputDiv">
              <label for="lastName">Last Name</label>
              <input class="reportInput" type="text" name="lastName" id="lastname" value="<%= report.last %>" readonly required>
            </div>
            <div class="reportInputDiv">
              <label for="dob">Date of Birth</label>
              <input type="text" class="reportInput" name="dob" id="dob" min="1900-01-01" max="2018-12-12" value="<%= report.dob %>" readonly required>
            </div>
            <div class="reportInputDiv">
              <label for="ssn">Social Security Number</label>
              <input type="text" class="reportInput" name="ssn" id="ssn" value="<%= report.ssn %>" required readonly>
            </div>
          </div>
        </div>
        <hr>
        <div class="reportSection">
          <div class="reportSectionName">
            <h3>Contact</h3>
            <p>In the event that we need to follow up, please specify your contact information</p>
          </div>
          <div class="reportDataArea">
            <div class="reportInputDiv">
              <label for="primaryPhone">Primary Phone Number (US only)</label>
              <input class="reportInput" type="tel" name="primaryPhone" id='primaryPhone' value="<%= report.primaryPhone %>" required readonly>
            </div>
            <div class="reportInputDiv">
                <label for="secondaryPhone">Secondary Phone Number (US only)</label>
                <input class="reportInput" type="tel" name="secondaryPhone" id='secondaryPhone' value="<%= report.secondaryPhone %>" readonly>
              </div>
            <div class="reportInputDiv">
              <label for="email">Primary Email Address</label>
              <input class="reportInput" type="email" name="email" id="email" value="<%= report.email %>" readonly required>
            </div>
            <div class="reportInputDiv">
              <label for="mailingAddress">Mailing Address</label>
              <input type="text" class="reportInput" name="mailingAddress" id="mailingAddress" value="<%= report.mailingAddress %>" readonly required>
            </div>
            <div class="reportInputDiv">
              <label for="mailingCity">City</label>
              <input type="text" class="reportInput" name="mailingCity" id="mailingZip" value="<%=report.mailingCity%>" readonly required>
            </div>
            <div class="reportInputDiv">
              <label for="mailingState">State</label>
              <input class="reportInput" name="mailingState" id="mailingState" value="<%=report.mailingState%>" readonly required>
            </div>
            <div class="reportInputDiv">
              <label for="mailingZip">Zip Code</label>
              <input type="number" class="reportInput" name="mailingZip" id="mailingZip" value="<%=report.mailingZip%>" readonly required>
            </div>
          </div>
        </div>
        <hr>
        <div class="reportSection">
          <div class="reportSectionName">
            <h3>Crime Details</h3>
            <p>Explain the nature of the crime and any and all details.</p>
          </div>
          <div class="reportDataArea reportDataAreaCrime">
            <div class="reportInputDiv">
              <label for="incidentType">Type of Incident</label>
              <input id="incidentType" name="incidentType"  class="reportInput" value="<%=report.incidentType%>" readonly required>
            </div>
            <div class="reportInputDiv">
                <label for="incidentDate">Date of Incident</label>
                <input class="reportInput" type="text" name="incidentDate" id='incidentDate' min="1900-01-01" max="2018-12-12" value="<%= report.incidentDate %>" readonly required>
              </div>
            <div class="reportInputDiv">
              <label for="incidentLocation">Location of Incident </label>
              <input class="reportInput" type="text" name="incidentLocation" id="incidentLocation" value="<%= report.incidentLocation %>" readonly required>
            </div>
            <div class="reportInputDiv reportInputDetails">
              <label for="incidentDetails">Details and Description of the Incident</label>
              <textarea class="reportInput" required name="incidentDetails" id="incidentDetails" readonly><%= report.incidentDetails %></textarea>
            </div>
          </div>
        </div>
        <hr>
        <div class="formBtns">
          <div class="formBtn btn backBtn">
            <a href="/reports">Go Back</a>
          </div>
        </div>
      </form>
    </div>
    
    </section>

<% include ../partials/footer %>