<% include ../partials/header %>

<section class="allReports">

<h2>All Reports</h2>

<table>
  <thead>
    <th class="overview">Date Created</th>
    <th class="overview">Incident Date</th>
    <th class="overview">Submitted By</th>
    <th class="overview">Details</th>
    <th class="overview">Incident Location</th>
    <th class="overview">Incident Type</th>
    <th class="overview">More Details</th>
  </thead>
  <tbody>
    <% report.forEach(function(report){ %>
      <tr class="reportsTableRow">
        <td class="overview">
          <%=moment(report.dateCreated).format('YYYY-DD-MM')%>
        </td>
        <td class="overview">
          <%=moment(report.incidentDate).format('YYYY-DD-MM')%>
        </td>
        <td class="overview">
          <%=report.last%>, <%=report.first%> <%=report.middle%>
        </td>
        <td class="overview">
          <%=report.incidentDetails%>
        </td>
        <td class="overview">
          <%=report.incidentLocation%>
        </td>
        <td class="overview">
          <%=report.incidentType%>
        </td>
        <td>
          <a href="/reports/<%=report._id%>">Show Report</a>
        </td>
      </tr>
    <%  }) %>
  </tbody>
</table>

<div class="secondaryBtn">
  <a href="/">Go Back</a>
</div>

</section>

<% include ../partials/footer %>