<% include ../partials/header %>

<section class="allReports">

<h2>All Reports</h2>

<table>
  <thead>
    <tr class="reportsTableRow">
      <th class="overview">Date Created</th>
      <th class="overview">Date of Incident</th>
      <th class="overview">Submitted By</th>
      <th class="overview">Incident Location</th>
      <th class="overview">Incident Type</th>
      <th class="overview">Show More</th>
      <th class="overview">Show Report</th>
      <th class="details hidden">Details</th>
      <th class="details hidden">User Name</th>
      <th class="details hidden">Primary Phone</th>
    </tr>
  </thead>
  <tbody>
    <% report.forEach(function(report){ %>
      <tr class="reportsTableRow">
        <td class="overview">
          <%=report.createdDate%>
        </td>
        <td class="overview">
          <%=report.incidentDate%>
        </td>
        <td class="overview">
          <%=report.createdByUser%>
        </td>
        <td class="overview">
          <%=report.incidentLocation%>
        </td>
        <td class="overview">
          <%=report.incidentType%>
        </td>
        <td>
          <button>Show More</button>
        </td>
        <td>
          <a href="/reports/<%=report._id%>">Show Report</a>
        </td>
        <td class="details hidden">
          <%=report.incidentDetails%>
        </td>
        <td class="details hidden">
          <%=report.first + " " + report.last%>
        </td>
        <td class="details hidden">
          <%=report.primaryPhone%>
        </td>
      </tr>
    <%  }) %>
  </tbody>
</table>

<div class="homeBtn">
  <a href="/">Home</a>
</div>

</section>

<% include ../partials/footer %>