<% include ../partials/header %>

<section class="allReports">

<h2>All Reports</h2>

<table>
  <thead>
    <tr class="reportsTableRow">
      <th class="overview">Date Created</th>
      <th class="overview">Date of Incident</th>
      <th class="overview">Submitted By</th>
      <th class="overview">Incident Location</th>
      <th class="overview">Incident Type</th>
      <th class="details">Details</th>
      <th class="details">User Name</th>
      <th class="details">Primary Phone</th>
    </tr>
  </thead>
  <tbody>
    <% reports.forEach(function(report){ %>
      <tr class="reportsTableRow">
        <td class="overview">
          <%=report.createdDate%>
        </td>
        <td class="overview">
          <%=report.incidentDate%>
        </td>
        <td class="overview">
          <%=report.createdByUser%>
        </td>
        <td class="overview">
          <%=report.incidentLocation%>
        </td>
        <td class="overview">
          <%=report.incidentType%>
        </td>
        <td></td>
        <td class="details">
          <%=report.incidentDetails%>
        </td>
        <td class="details">
          <%=report.first + " " + report.last%>
        </td>
        <td class="details">
          <%=report.primaryPhone%>
        </td>
      </tr>
    <%  }) %>
  </tbody>
</table>

</section>

<% include ../partials/footer %>