<section class='news'>

  <div class="section-title">
    <i class="fas fa-newspaper"></i>
    <h2>News</h2>
  </div>
  <div class="news-container">

    <% news.slice(-3).reverse().forEach( function( news ) { %>
      <a 
        href="/news/<%=news._id%>" 
        class="news-link news-link-row"
      >
        <h3 class="news-title"><%=news.title%></h3>
        <img 
          src="<%=news.coverImage%>" 
          alt="News Story Cover" 
          class="news-image-row"
        >
        <div class="news-text-container">
          <h3><%=news.title%></h3>
          <p class="news-date">
            <%=moment(news.dateCreated).format("ddd, MMM Do YYYY")%>
          </p>
          <p class="news-desc">
            <%=news.body.substring(0,150)%>...
          </p>

        </div>
      </a>
    <% }) %>

  </div>

  <div class="btn-read-more">
    <a href="/news">Read More News</a>
  </div>

</section>