<section class='news'>

  <div class="sectionTitleDiv">
    <i class="fas fa-newspaper"></i>
    <h2>News</h2>
  </div>
  <div class="newsContainer">

    <% news.slice(-2).reverse().forEach( function( news ) { %>
      <a href="/news/<%=news._id%>" class="newsLink newsLinkRow">
        <img src="<%=news.coverImage%>" alt="#" class=
        "newsPhotoRow">
        <div class="newsText">
          <h4><%=news.title%></h4>
          <p class="newsDate"><%=moment(news.dateCreated).format("ddd, MMM Do YYYY")%></p>
          <p class="newsDesc"><%=news.body.substring(0,150)%>...</p>
        </div>
      </a>
    <% }) %>

  </div>
  
  <div class="readMoreBtn">
    <a href="/news">Read More News</a>
  </div>

</section>