<section class='slider-section'>

  <div class="slider-container">
    <ul>
      <% news.slice(-3).reverse().forEach( ( news ) => { %>

        <li class="slider-item">

          <div class="slider-item-text">

            <a href='/news/<%=news._id%>'>

              <h2><%=news.title%></h2>
              
              <p class="slider-item-date">
                <%=moment(news.dateCreated).format("ddd, MMM Do YYYY")%>
              </p>

              <p class="slider-item-body">
                <%=news.body.substring(0,250)%>...
              </p>

            </a>

            <a 
              class="slider-item-btn btn-read-more" 
              href='/news/<%=news._id%>'
            >
              Read Full Text
            </a>

          </div>

          <a href="/news/<%=news._id%>" class ='slider-item-img-container'>
            <img 
              class='slider-item-img'
              src="<%=news.coverImage%>"
              alt="science truth"
            >
          </a>

        </li>
      <% }); %>
    </ul>

      <!-- Left and Right Nav buttons on slideshow -->

    <button class="slider-btn-left">
      <i class="fas fa-arrow-left"></i>
    </button>

    <button class="slider-btn-right">
      <i class="fas fa-arrow-right"></i>
    </button>

  </div>

  <!-- Square Article Nav Buttons below slideshow -->

  <div class="slider-indicator">

    <% news.slice(-3).reverse().forEach( ( news ) => { %> 
      <div class="square"></div>
    <% }); %>

  </div>


</section>