<% include ../partials/header %>

<section>
  <div>
    <h2>Announcement <%=announcement.id%></h2>
    <p>Created by <%=announcement.author%> on <%=moment(announcement.dateCreated).format("ddd, MMM Do YYYY")%></p>
    <p>Last Updated <%=moment(announcement.dateLastUpdate).format("ddd, MMM Do YYYY")%></p>
  </div>
  <div>
    <p><%=announcement.body%></p>
  </div>
</section>

<% include ../partials/footer %>