<% include ../partials/header %>

<section class="announcement-show__container">

  <h2><%=moment(announcement.dateCreated).format("ddd, MMM Do YYYY, h:mm a")%></h2>

  <div>
    <p>Created by <em><%=announcement.author%></em></p>
    <p><strong>Last Updated <%=moment(announcement.dateLastUpdate).format("ddd, MMM Do YYYY")%></strong></p>
  </div>

  <div class="announcement-show__body">
    <p ><%=announcement.body%></p>
  </div>

  <div class="announcement-show__button-container">

    <a class="secondaryBtn" href="/announcements">All Announcements</a>
    
    <% if (locals.currentUser !== undefined && locals.currentUser.isAdmin) { %>

    <div class="announcement-show__admin-container">
      
      <a class="announcement-show__edit-button" href="/announcements/<%=announcement._id%>/edit">
        <div>
          <i class="fas fa-edit"></i> Update
        </div>
      </a>

      <form  
        class="announcement-show__delete-button" 
        action="/announcements/<%= announcement._id %>?_method=DELETE"  
        method="POST"
      >
        <button>
          <i class="fas fa-trash-alt"></i>
          Delete
        </button>
      </form>

    </div>

    <% } %>

  </div>

</section>

<% include ../partials/footer %>