<% include ./partials/header %>

  <section class='slider'>
    <div class="sliderContainer">
      <ul>

        <% news.slice(-3).reverse().forEach( ( news ) => { %> 
          <li class="sliderLI slideFade">
            <div class="sliderText">
              <a href='/news/<%=news._id%>'>
                <h2><%=news.title%></h2>
              </a>
              <p class="sliderDate"><%=moment(news.dateCreated).format("ddd, MMM Do YYYY")%></p>
              <p><%=news.body.substring(0,250)%>...</p>
              <a class="sliderArticleBtn readMoreBtn" href='/news/<%=news._id%>'>Read Full Text</a>
            </div>
            <a href="/news/<%=news._id%>" class ='sliderPhotoLink'>
              <img class='sliderPhoto' src="<%=news.coverImage%>" alt="science truth">
            </a>
          </li>
        <% }); %>

      </ul>
    </div>

    <!-- Square Article Nav Buttons below slideshow -->

    <div class="sliderIndicator">

      <% news.slice(-3).reverse().forEach( ( news ) => { %> 
        <div class="square"></div>
      <% }); %>

    </div>

    <!-- Left and Right Nav buttons on slideshow -->

    <button class="slideleft"><i class="fas fa-arrow-left"></i></button>
    <button class="slideright"><i class="fas fa-arrow-right"></i></button>

  </section>

  <section class='announcements'>
    <div class='sectionTitleDiv'>
      <i class="fas fa-scroll"></i>
      <h2>Announcements</h2>
    </div>

    <div class="announcementsContainer">

      <% announcement.slice(-3).reverse().forEach( function (announcement){ %>
        <a class="announcediv" href="/announcements/<%=announcement.id%>">
          <p class="announceDate"><%=moment(announcement.dateLastUpdate).format("ddd, MMM Do YYYY, h:mm a")%></p>
          <p class="announceText"><%=announcement.body.substring(0,200)%>...</p>
        </a>
      <% }) %>

    </div>

    <div class="readMoreBtn">
      <a href="/announcements" >Read More Announcements</a>
    </div>

  </section>
  
  <section class='news'>
    <div class="sectionTitleDiv">
      <i class="fas fa-newspaper"></i>
      <h2>News</h2>
    </div>
    <div class="newsContainer">

      <% news.slice(-2).reverse().forEach( function( news ) { %>
        <a href="/news/<%=news._id%>" class="newsLink newsLinkRow">
          <img src="<%=news.coverImage%>" alt="#" class=
          "newsPhotoRow">
          <div class="newsText">
            <h4><%=news.title%></h4>
            <p class="newsDate"><%=moment(news.dateCreated).format("ddd, MMM Do YYYY")%></p>
            <p class="newsDesc"><%=news.body.substring(0,150)%>...</p>
          </div>
        </a>
      <% }) %>

    </div>
    <div class="readMoreBtn">
      <a href="/news">Read More News</a>
    </div>
  </section>

  <section class='report'>
    <div class="sectionTitleDiv">
      <i class="fas fa-user-secret"></i>
      <h2>Truth Crimes</h2>
    </div> 
    <p>We have entered the Post-Truth Era. Though they may be subtle, crimes which distort, twist, or confound the truth  are equivalent to lies and pose the greatest threat to Democracy today.</p>
    <p>Lies sow mistrust in institutions which rely on accurate information to serve the public. It is only through the constant pruning of lies that the rich and diverse garden of Democracy can thrive.</p>
    <p>If you witness or suspect that a crime involving the mis-use of information has occurred, is occurring, or will occurr, please file a report using the link below.</p>
    <a href="/reports/new" class="reportCrimesBtn">Report a Crime</a>
  </section>

  <section class="newsletterSubscribe">

    <div class="sectionTitleDiv">
      <i class="far fa-envelope"></i>
      <h2>Newsletter</h2>
    </div>
    <p>Read the USDT Newsletter and get all the Truthy Bits</p>
    <div class="subscribeGroup">
      <input class="emailSubscribeInput" type="email" id="emailSubscribe" name="emailSubscribe" placeholder="tom.i_can_handle_the_truth@cruise.com">
      <div class="subscribeToNewsletterBtn">
        <a href="#">Sign Up</a>
      </div>
    </div>

  </section>

  <script>

    // Change Layout of News Article Container depending on if the image is wider than it is tall.
  var newsLinkContainers = document.getElementsByClassName("newsLinkRow");
var newsPhotos = document.getElementsByClassName("newsPhotoRow");

function changeNewsLayout() {
  Array.from(newsLinkContainers).forEach( ( newslinkcontainer ) => {
    Array.from(newsPhotos).forEach( ( newsphoto ) => {
      if ( newsphoto.naturalHeight < newsphoto.naturalWidth ) {
        newslinkcontainer.classList.add("newsLinkColumn");
        newslinkcontainer.classList.remove("newsLinkRow");
        newsphoto.classList.add("newsPhotoColumn");
        newsphoto.classList.remove("newsPhotoRow");
      }
    });
  });
}

changeNewsLayout();

// ==========================================================
// Slideshow Logic

var slideIndex = 1;

// ----------begin slideshow----------------

function mountComponent() {
  this.showSlides(slideIndex);
  myTimer = setInterval(() => {this.plusSlides(1);}, 3500);
}

mountComponent();

// ----------Remove visibility and add visibility based on index-------------

function showSlides( n ) {
  var i;
  var slides = Array.from(document.getElementsByClassName("sliderLI"));
  var dots = Array.from(document.getElementsByClassName("square"));
  if (n > slides.length) {slideIndex = 1;}
  if (n < 1) {slideIndex = slides.length;}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].classList.remove("active");
  }
  slides[slideIndex-1].style.display = "flex";
  dots[slideIndex-1].classList.add("active");
}

// -------Next and Previous Slide Logic-----------

function plusSlides( n ) {
  clearInterval(myTimer);
  this.showSlides(slideIndex += n);
  if ( n = -1 ) {
    myTimer = setInterval(() => {this.plusSlides(n+2);}, 3500);
  } else {
    myTimer = setInterval(() => {this.plusSlides(n+1);}, 3500);
  }
}

function currentSlide( n ) {
  clearInterval(myTimer);
  this.showSlides( slideIndex = n );
  if ( n = -1 ) {
    myTimer = setInterval(() => {this.plusSlides(n+2);}, 3500);
  } else {
    myTimer = setInterval(() => {this.plusSlides(n+1);}, 3500);
  }
}

// Add slideshow controls to buttons

var leftNav = Array.from(document.getElementsByClassName("slideleft"));
var rightNav = Array.from(document.getElementsByClassName("slideright"));

function addSlideNav(){
  leftNav[0].addEventListener("click",function (){
    plusSlides(-1);
    });
  rightNav[0].addEventListener("click",function() {
    plusSlides(1);
    });
}

addSlideNav();


// -----add Click Events to dots---------


  var dots = Array.from(document.getElementsByClassName("square"));
  
  function addSlideNavDot(){
    dots.forEach(function(dot, i) {
    dot.addEventListener("click", function(){
      currentSlide(i+1);
    });
  });
  }
  
  addSlideNavDot();
  </script>
  
<% include ./partials/footer %>