<% include ../partials/header %>

<section>

<h2>All Articles</h2>

<% news.slice().reverse().forEach( function(news){ %>

<a class="news-index__news-container" href="news/<%=news._id%>">

  <div class="news-index__image-container">
    <img src="./<%=news.coverImage%>" alt="">
  </div>

  <div class="news-index__text-container">
    <h3><u><%=news.title%></u></h3>
    <h4><%=news.subtitle%></h4>
    <div class="news-index__subtext-container">
      <p>By <em><%=news.author%></em></p>
      <p><%=moment(news.dateCreated).format('ddd, MMM Do YYY, h:mm a')%></p>
    </div>
  </div>

</a>

<% }) %>

</section>

<% include ../partials/footer %>