<% include ../partials/header %>

<section>

<h2><%= news.title%>></h2>

<h3><%=news.subtitle%></h3>

<p><%=news.author</p>

<p><%=news.dateCreated</p>

<img src="<%=news.coverImage%>" alt="">

<p><%=news.body</p>


</section>

<% include ../partials/footer %>