<% include ../partials/header %>

<section class="newsShowSection">
  <div class="newsShowContainer">

    <div class="newsShowImgContainer">
      <img src="<%=news.coverImage%>" alt="">
    </div>

    <div class="titleContainer">
      <p><strong><%=moment(news.dateCreated).format("ddd, MMM Do YYYY")%></strong></p>
      <h2><%= news.title%></h2>
    </div>

    <div class="subtitleContainer">
      <h4><%=news.subtitle%></h3>
      <p>By <em></em><%=news.author%></em></p>
    </div>
    
    <div class="newsShowBody">
      <p><%=news.body%></p>
    </div>
  </div>
  
</section>

<% include ../partials/footer %>