<% include ../partials/header %>

<section>

<h2>All Articles</h2>

<% news.slice().reverse().forEach( function(news){ %>

<div class="articleContainer">
  <div class="textContainer">
    <h3><%=news.title%></h3>
    <h4><%=news.subtitle%></h4>
    <p><%=news.author%></p>
    <p><%=moment(news.dateCreated).format('YYYY-MM-DD')%></p>
  </div>
  <div class="coverImageContainer">
    <img src="./<%=news.coverImage%>" alt="">
  </div>
</div>

<% }) %>

</section>

<% include ../partials/footer %>