<% include ../partials/header %>

<section>
  <div>
    <img src="<%=news.coverImage%>" alt="">
  </div>
  <div>
    <div class="titleBar">
      <h2><%= news.title%></h2>
      <h3><%=news.subtitle%></h3>
      <p><%=news.author%></p>
      <p><%=moment(news.dateCreated).format("ddd, MMM Do YYYY")%></p>
    </div>
    <div>
      <p><%=news.body%></p>
    </div>
  </div>
</section>

<% include ../partials/footer %>